<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.walequadri.app.nysc-reg"
	versionCode="1"
	version   = "1.0">

<name>NYSC-REG</name>
<description> An app for intending corps members for easy registration and deployment.	</description>

<author href="walequadri.com" 
email="support@walequadri.com">
Wale Quadri
</author>

<gap:platform name="android" />

<preference name="phonegap-version" value="3.3.0" />

<preference name="orientation" value="portrait" />

<preference name="fullscreen" value="false" />

<preference name="webviewbounce" value="false" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="disallowOverscroll" value="true" />

<preference name="exit-on-suspend" value="false" />

<preference name="prerendered-icon" value="false" />

<preference name="android-minSdkVersion" value="14" />

<preference name="android-installLocation" value="auto" />

<preference name="BackgroundColor" value="0xffffffff "/>

<preference name="KeepRunning" value="true"/>

<icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<icon src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

<gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
<gap:splash src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

<gap:plugin name="org.apache.cordova.camera"  />
<gap:plugin name="org.apache.cordova.geolocation"  />
<gap:plugin name="org.apache.cordova.dialogs"  />
<gap:plugin name="org.apache.cordova.device"  />
<gap:plugin name="org.apache.cordova.network-information"  />
<gap:plugin name="org.apache.cordova.console"  />
<gap:plugin name="org.apache.cordova.inappbrowser"  />
<gap:plugin name="org.apache.cordova.network-information"  />
<gap:plugin name="org.apache.cordova.splashscreen"  />

<gap:plugin name="com.phonegap.plugins.barcodescanner" />

<access origin="*" subdomains="true" />

</widget>